CREATE DATABASE [KKRTheater_Dev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KKRTheater_Dev', FILENAME = N'C:\Users\Jon\KKRTheater_Dev.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KKRTheater_Dev_log', FILENAME = N'C:\Users\Jon\KKRTheater_Dev_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [KKRTheater_Dev]
GO
USE [KKRTheater_Dev]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [KKRTheater_Dev] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO


USE [KKRTheater_Dev]
GO

/****** Object:  Table [dbo].[Actors]    Script Date: 4/7/2019 6:33:44 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Actors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[Birthday] [datetime2](7) NOT NULL,
	[Birthplace] [nvarchar](max) NULL,
 CONSTRAINT [PK_Actors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[Actors] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [Birthday]
GO


USE [KKRTheater_Dev]
GO

/****** Object:  Table [dbo].[Directors]    Script Date: 4/7/2019 6:35:52 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Directors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[Birthday] [datetime2](7) NOT NULL,
	[Birthplace] [nvarchar](max) NULL,
 CONSTRAINT [PK_Directors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[Directors] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [Birthday]
GO

USE [KKRTheater_Dev]
GO

/****** Object:  Table [dbo].[Genres]    Script Date: 4/7/2019 6:36:02 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Genres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


USE [KKRTheater_Dev]
GO

/****** Object:  Table [dbo].[Movies]    Script Date: 4/7/2019 6:36:14 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Movies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DirectorId] [int] NULL,
	[Metascore] [int] NULL,
	[Rank] [int] NOT NULL,
	[Rating] [decimal](18, 2) NULL,
	[Revenue] [decimal](18, 2) NULL,
	[Runtime] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0)) FOR [Rank]
GO

ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0)) FOR [Runtime]
GO

ALTER TABLE [dbo].[Movies] ADD  DEFAULT (N'') FOR [Title]
GO

ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((0)) FOR [Year]
GO

ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [FK_Movies_Directors_DirectorId] FOREIGN KEY([DirectorId])
REFERENCES [dbo].[Directors] ([Id])
GO

ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [FK_Movies_Directors_DirectorId]
GO

USE [KKRTheater_Dev]
GO

/****** Object:  Table [dbo].[FilmCast]    Script Date: 4/7/2019 6:36:22 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[FilmCast](
	[MovieId] [int] NOT NULL,
	[ActorId] [int] NOT NULL,
 CONSTRAINT [PK_FilmCast] PRIMARY KEY CLUSTERED 
(
	[ActorId] ASC,
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[FilmCast]  WITH CHECK ADD  CONSTRAINT [FK_FilmCast_Actors_ActorId] FOREIGN KEY([ActorId])
REFERENCES [dbo].[Actors] ([Id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[FilmCast] CHECK CONSTRAINT [FK_FilmCast_Actors_ActorId]
GO

ALTER TABLE [dbo].[FilmCast]  WITH CHECK ADD  CONSTRAINT [FK_FilmCast_Movies_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([Id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[FilmCast] CHECK CONSTRAINT [FK_FilmCast_Movies_MovieId]
GO

USE [KKRTheater_Dev]
GO

/****** Object:  Table [dbo].[MovieGenre]    Script Date: 4/7/2019 6:36:36 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[MovieGenre](
	[MovieId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_MovieGenre] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenre_Genres_GenreId] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([Id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [FK_MovieGenre_Genres_GenreId]
GO

ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenre_Movies_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([Id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [FK_MovieGenre_Movies_MovieId]
GO



